.footer {
  margin-top: auto;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    @media only screen and (max-width: 750px) {
      grid-template-columns: max-content;
      align-items: center;
      justify-content: center;
      row-gap: 24px;
    }
  }

  .socials {
    @media only screen and (max-width: 750px) {
      justify-content: center;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;

    @media only screen and (max-width: 750px) {
      order: 2;
    }

    p {
      color: $light;
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  &-form {
    width: 260px;

    p {
      color: $grey;
      font-size: 8px;
      text-transform: uppercase;
      line-height: 10px;
    }

    &__email {
      margin: 10px 0;

      input {
        width: 100%;
        background: $dark;
        height: 40px;
        padding-left: 18px;
        display: block;
        font-size: 12px;
        font-weight: 500;
        color: $grey;
      }
    }

    &__button {
      @include button;
      width: 100%;

      span {
        font-size: 13px;
        font-weight: 500;

        svg {
          width: 16px;
          height: 14px;
        }
      }
    }
  }
}
