.news {
  margin-top: 24px;

  @media only screen and (max-width: 1366px) {
    margin-top: 16px;
  }

  &-section {
    background: $primary;
    padding: 64px 0;

    @media only screen and (max-width: 1366px) {
      padding: 32px 0;
    }
  }

  &-single {
    &__item {
      &-title {
        font-size: 24px;
        line-height: 32px;
      }

      &-date {
        color: $grey;
        font-size: 14px;
        text-transform: uppercase;
      }

      &-content {
        margin-top: 24px;
        color: $light;
        font-size: 14px;
        line-height: 120%;

        h3 {
          font-size: 20px;
          font-weight: 700;
        }

        a {
          color: $action;
          text-decoration: underline;
          transition: color 0.25s;

          &:hover {
            color: lighten($action, 30%);
          }
        }

        p {
          margin: 12px 0;
        }

        img {
          margin: 16px 0;
          display: block;
        }
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 20px;

    &__item {
      display: flex;
      justify-content: flex-start;
      column-gap: 24px;

      @media only screen and (max-width: 750px) {
        flex-direction: column;
        gap: 10px;
      }

      &-img {
        min-width: 300px;
        height: 168px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media only screen and (max-width: 750px) {
          min-width: 100%;
          background-position: top center;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
      }

      &-date {
        color: $grey;
        font-size: 14px;
        text-transform: uppercase;
      }

      &-title {
        color: $light;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 8px;
        line-height: 125%;

        @media only screen and (max-width: 1366px) {
          font-size: 18px;
          line-height: 24px;
        }
      }

      &-button {
        @include button;

        width: max-content;
        margin-top: auto;

        @media only screen and (max-width: 750px) {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }

  &-item {
    &__img {
      width: 100%;
      height: 188px;
      overflow: hidden;

      img {
        max-width: unset;
        object-fit: cover;
        height: 100%;
      }
    }

    &__title {
      color: $light;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
      margin-top: 24px;

      @media only screen and (max-width: 1366px) {
        margin-top: 16px;
      }
    }
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;

  @media only screen and (max-width: 1366px) {
    margin-top: 16px;
  }

  &-button {
    cursor: pointer;

    .icon {
      width: 64px;
      height: 64px;
      stroke: $light;
      opacity: 0.5;
      transition: opacity 0.3s;

      @media only screen and (max-width: 1366px) {
        width: 45px;
        height: 45px;
      }
    }

    &:hover {
      .icon {
        opacity: 1;
      }
    }
  }

  &-prev {
    .icon {
      transform: rotate(-180deg);
    }
  }
}
